*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}
body{
    background: url(/assets/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-container{
    display: flex;
    flex-direction: column;
}
.hero-1{
    display: flex;
    justify-content: space-between;
}
.hero-2{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.rate-card1{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    background-color:hsl(300, 24%, 96%);
    border-radius: 5px;
    margin-right: 60px;
}
.rate-card2{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    margin-right: 30px;
    align-items: center;
    background-color:hsl(300, 24%, 96%);
    border-radius: 5px;
    margin-left: 30px;
}
.rate-card3{
    display: flex;
    margin-top: 20px;
    padding: 10px;
    align-items: center;
    background-color:hsl(300, 24%, 96%);
    border-radius: 5px;
    margin-left: 60px;
}
.rate-text{
           color:hsl(300, 43%, 22%);
           margin-left: 10px;
}
.hero-text p{
    color: hsl(303, 10%, 53%);
    margin-top: 10px;
}
.hero-text h1{
    color: hsl(300, 43%, 22%);
}
.profile-card{
    display: flex;
    align-items: center;
    margin: 10px;
}
.profile-card img{
      border-radius: 50px;
      width: 50px;
      height: 50px;
}
.name{
    margin-left: 10px;
}
.name h4{
    color: hsl(0, 0%, 100%);
}
.name b{
    color: hsl(333, 80%, 67%);
}
.status{
    color: hsl(333, 80%, 67%);
}
.hero-card1{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.hero-card1 p{
    color: hsl(0, 0%, 100%);
}
.hero-card2{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.hero-card2 p{
    color: hsl(0, 0%, 100%);
}
.hero-card3{
    background-color: hsl(300, 43%, 22%);
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
    border-radius: 10px;
    
}
.hero-card3 p{
    color: hsl(0, 0%, 100%);
}

@media screen and (max-width : 768px){
body{
    background-size: contain;
}
.hero-container{
    padding: 10px;
    height: 100vh;
}
    .hero-1{
    display: unset;
    flex-direction: column;
}
.herotext-card{
    font-size: 11px;
    margin-top: 20px;
}
.hero-text{
    text-align: center;
}
.hero-text p{
    font-size: 15px;
}
.rate-card1{
    text-align: center;
    justify-content: center;
    display: block;
    margin-right: 0;
}
.rate-card2{
    display: block;
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: 0;
    margin-right: 0;
}
.rate-card3{
    display: block;
    text-align: center;
    justify-content: center;
    display: block;
    margin-left: 0;
}
.hero-container{
    display: inline-block;
    padding: 15px;
}
.hero-2{
    display: unset;
    font-size: 12px;
}
.hero-card1{
    margin-top: 20px;
}
.hero-card2{
    margin-left: 0;
}
.hero-card3{
    margin-top: 20px;
    margin-left: 0;
}
.rate-text{margin-left: 0;
}




}